.loader {
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: rgba(180, 180, 180, 0.39);
    display: flex;
    justify-content: center;
    padding-top: 5rem;;
    .lds-dual-ring {
        display: inline-block;
        width: 80px;
        height: 80px;
      }
      .lds-dual-ring:after {
        content: " ";
        display: block;
        width: 64px;
        height: 64px;
        margin: 8px;
        border-radius: 50%;
        border: 6px solid rgb(102, 188, 228);
        border-color:  rgb(102, 188, 228) transparent  rgb(102, 188, 228) transparent;
        animation: lds-dual-ring 1.2s linear infinite;
      }
      @keyframes lds-dual-ring {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
      
}

