.main {
    > div {
        position: relative;
    }
    &__indicators {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .indicator {
            margin-bottom: 1rem;
            margin-right: 1rem;
        }
    }
    &__datepicker {
        display: flex;
        margin-bottom: 2rem;
        div {
            margin-right: 1rem;
        }
        @media screen and (max-width: 800px) {
            display: block;
        }
    }
}