.title {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    &__main {
        color: #2564a9;
        font-size: 1.5em;
    }
    &__separator {
        margin: 0px 10px;
        @media screen and (max-width: 800px) {
            display: none;
        }
    }
    &__subtitle {
        color: #596b83;
        font-size: 1rem;
        font-weight: 400;
    }
    @media screen and (max-width: 800px) {
        display: block;
    }
}