.indicator {
    color: #60626a;
    box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,.075);
    border-radius: .5rem;
    border: 1px solid #e0e5e8;
    background-color: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    min-width: 10rem;
    text-align: center;
    max-width: 6rem;
    &__name {
        text-transform: capitalize;
        font-size: 1rem;
        margin-bottom: 0.5rem;
    }
    &__sub-name {
        font-size: 0.8rem;
        margin-bottom: 0.5rem;
    }
    &__value {
        display: flex;
        font-size: 1.3rem;
        
        margin-bottom: 1rem;
    }
    &__value-compare {
        font-size: 0.8rem;
        > div {
            display: flex;
            justify-content: center;
        }
    }
}