body {
    font-family: "Open Sans",Arial,sans-serif;
}
.App {
  padding: 1.25rem;
}

input {
  padding: .375rem .75rem;
  font-size: 1rem;
}

.blue {
  color: #1279cd!important;
}
.red {
  color: #da3636!important;
}